{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ car.name }} - Наличие{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/css/car_check.css' %}">
{% endblock %}

{% block body %}
{% include 'main/header.html' %}

<div class="car-showroom-list">
    {% for car_in_showroom in car_in_showroom_list %}
    <div class="card mb-3" style="max-width: 90%;">
        <div class="row g-0">
            <div class="col-md-4">
                {% if car_in_showroom.car.image %}
                <img src="{{ car_in_showroom.car.image.url }}" alt="{{ car_in_showroom.car.model.name }}">
                {% else %}
                <img src="{% static 'main/img/no_image_available.png' %}" alt="Нет изображения">
                {% endif %}
            </div>

            <div class="col-md-8">
                <div class="card-body">
                    <!-- Отображение марки, модели и комплектации -->
                    <h4 class="card-title">{{ car_in_showroom.car.model.brand.name }} - {{ car_in_showroom.car.model.name }} - {{ car_in_showroom.car.configuration.name }}</h4>

                    <!-- Отображение информации об автосалонах с ценами -->
                    <h5 class="card-text">Цена:</h5>
                    <ul>
                        {% for showroom_info in car_in_showroom_list %}
                        <li>
                            <strong>{{ showroom_info.showroom.name }}</strong>:
                            <a href="{{ showroom_info.url }}" target="_blank">{{ showroom_info.price }} руб.</a>
                            <p>Адрес: {{ showroom_info.showroom.address }}</p>
                            <p>Контакт: {{ showroom_info.showroom.contact }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <p>Нет данных о наличии для этого автомобиля.</p>
    {% endfor %}
</div>

{% endblock %}
