{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'main/css/popular.css' %}">
<!-- Ваши другие стили -->
{% endblock %}


{% for item in cars %}
<div class="card">
    {% if item.image %}
        <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.model }}">
    {% else %}
        <img src="{% static 'main/img/logo.png' %}" class="card-img-top" alt="Default image">
    {% endif %}
   <div class="card-body">
            <h5 class="card-title">{{ item.model }}</h5>
            <p class="card-text">
                Лошадиные силы: {{ item.configuration.technical_specs.horsepower }} л.с.<br>
                Крутящий момент: {{ item.configuration.technical_specs.torque }} Нм<br>
                Коробка передач: {{ item.configuration.transmission_drive.transmission }}<br>
                Тип привода: {{ item.configuration.transmission_drive.drive_type }}
            </p>
            <a href="{% url 'car_detail' item.id %}" class="btn btn-primary">Подробнее</a>
            <form method="POST" action="{% url 'toggle_favorite' item.id %}">
                {% csrf_token %}
                <button
                        class="btn btn-warning favorite-toggle"
                        data-car-id="{{ item.id }}"
                        data-url="{% url 'toggle_favorite' item.id %}">
                    {% if item in favorite_cars %}
                    Убрать из избранного
                    {% else %}
                    Добавить в избранное
                    {% endif %}
                </button>
            </form>
        </div>
    </div>
{% endfor %}


<script>
    $(document).ready(function() {
        $('.favorite-toggle').click(function(e) {
            e.preventDefault(); // предотвращаем перезагрузку страницы
            const button = $(this);
            const carId = button.data('car-id');
            const url = button.data('url');

            $.ajax({
                url: url,
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.is_favorite) {
                        button.text('Убрать из избранного');
                    } else {
                        button.text('Добавить в избранное');
                    }
                },
                error: function(xhr, status, error) {
                    alert(xhr.responseJSON.error || 'Ошибка при обработке запроса');
                }
            });
        });
    });
</script>
