{% extends 'main/layout.html' %}
{% load static %}

{% block title %} Избранные автомобили {% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/css/favorites.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMliKLnmY5c9b0CJv18MG8IE1FZnX9czD59lfgd" crossorigin="anonymous">
{% endblock %}

{% block body %}
{% include 'main/header.html' %}

<h2>Ваши избранные автомобили</h2>

<div class="card-container" id="favorites-list">
    {% for item in favorites %}
    <div class="card position-relative" style="width: 18rem;">
        {% if item.image %}
            <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.model }}">
        {% else %}
            <img src="{% static 'main/img/logo.png' %}" class="card-img-top" alt="Default image">
        {% endif %}

        <!-- Сердечко для удаления из избранного -->
        <button class="btn favorite-btn position-absolute top-0 end-0 m-2 favorite"
                data-car-id="{{ item.id }}">
            <i class="fas fa-heart text-danger"></i>  <!-- Красное сердечко -->
        </button>

        <div class="card-body">
            <h5 class="card-title">{{ item.model }}</h5>
            <p class="card-title">Цвет: {{ item.color }}</p>
            <a href="{% url 'car_detail' item.id %}" class="btn btn-primary">Подробнее</a>
        </div>
    </div>
    {% empty %}
    <p>У вас нет избранных автомобилей.</p>
    {% endfor %}
</div>

<script>
$(document).ready(function() {
    // Обработчик для сердечка
    $('.favorite-btn').click(function() {
        var btn = $(this);
        var carId = btn.data('car-id');

        $.ajax({
            url: '{% url "toggle_favorite" %}',
            method: 'POST',
            data: {
                'car_id': carId,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                btn.closest('.card').remove(); // Удаляем карточку автомобиля из избранного
            }
        });
    });
});
</script>

{% endblock %}
