{% load static %}
<nav class="navbar bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="{% url 'popular_page' %}">
      <img src="{% static 'main/img/logo.png' %}" alt="" >
    </a>
    <div class="navbar-buttons d-flex">
      <a href="{% url 'info_user' %}" class="btn">
        <img src="{% static 'main/img/profile.png' %}" alt="Button 1" class="navbar-icon">
      </a>
      <a href="{% url 'favorites_page' %}" class="btn">
        <img src="{% static 'main/img/favorite.png' %}" alt="Button 2" class="navbar-icon">
      </a>
      <a href="{% url 'comparison_page' %}" class="btn">
        <img src="{% static 'main/img/compare.png' %}" alt="Button 3" class="navbar-icon">
      </a>
      <a href="#" class="btn">
        <img src="{% static 'main/img/search.png' %}" alt="Button 4" class="navbar-icon">
      </a>
    </div>
  </div>
</nav>