{% extends 'main/layout.html' %}

{% load static %}
{% block title %}CartoLog{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/css/popular.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMliKLnmY5c9b0CJv18MG8IE1FZnX9czD59lfgd" crossorigin="anonymous">
{% endblock %}

{% block body %}
{% include 'main/header.html' %}

<h2>Do you wanna car?</h2>

<div class="filter-container">
    <div class="form-group">
        <select id="brand-filter" class="form-control">
            <option value="">Все марки</option>
            {% for brand in brands %}
                <option value="{{ brand.id }}">{{ brand.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <select id="model-filter" class="form-control" disabled>
            <option value="">Выберите модель</option>
            <!-- Модели будут загружены с помощью AJAX -->
        </select>
    </div>

    <button id="reset-filters" class="btn btn-secondary">Сбросить фильтры</button>
</div>

<div class="card-container" id="car-list">
    {% for item in filter.qs %}
    <div class="card position-relative" style="width: 18rem;">
        {% if item.image %}
            <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.model }}">
        {% else %}
            <img src="{% static 'main/img/logo.png' %}" class="card-img-top" alt="Default image">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ item.model }}</h5>
            <p class="card-title">Цвет: {{ item.color }}</p>
            <a href="{% url 'car_detail' item.id %}" class="btn btn-primary">Подробнее</a>
        </div>
    </div>
    {% endfor %}
</div>

<script>
$(document).ready(function() {
    // Фильтрация по марке
    $('#brand-filter').change(function() {
        var brandId = $(this).val();
        $('#model-filter').prop('disabled', !brandId);

        $.ajax({
            url: '{% url "get_models_by_brand" %}',
            data: {
                'brand_id': brandId
            },
            success: function(data) {
                $('#model-filter').empty();
                $('#model-filter').append('<option value="">Выберите модель</option>');
                $.each(data.models, function(index, model) {
                    $('#model-filter').append('<option value="' + model.id + '">' + model.name + '</option>');
                });
            }
        });

        // Обновление списка автомобилей при выборе марки
        updateCarList(brandId, $('#model-filter').val());
    });

    // Фильтрация по модели
    $('#model-filter').change(function() {
        updateCarList($('#brand-filter').val(), $(this).val());
    });

    // Сброс фильтров
    $('#reset-filters').click(function() {
        $('#brand-filter').val('');
        $('#model-filter').empty().append('<option value="">Выберите модель</option>').prop('disabled', true);
        updateCarList('', '');
    });

    // Функция для обновления списка автомобилей
    function updateCarList(brandId, modelId) {
        $.ajax({
            url: '{% url "filter_cars" %}',
            data: {
                'brand_id': brandId,
                'model_id': modelId
            },
            success: function(data) {
                $('#car-list').html(data);
            }
        });
    }
});
</script>



{% endblock %}
