.car-showroom-list img {
    width: 400px; /* Ширина изображения */
    height: auto; /* Автоматическое вычисление высоты для сохранения пропорций */
    object-fit: cover; /* Подгон изображения, чтобы оно полностью заполнило контейнер */
    border-radius: 8px; /* Добавление скругленных углов */
}