.modal-img {
    width: 800px;       /* Фиксированная ширина */
    height: 600px;      /* Фиксированная высота */
    object-fit: contain; /* Сохраняем пропорции изображения */
    margin: 0 auto;      /* Центрируем изображение */
}
.button-group {
    display: flex;
    gap: 10px; /* расстояние между кнопками */
    justify-content: flex-start; /* по умолчанию, кнопки будут выравниваться слева */
    margin-top: 15px; /* дополнительный отступ сверху, если нужно */
}

.carousel-image {
    height: 400px; /* Задайте нужную высоту */
    object-fit: cover; /* Масштабирует изображение, сохраняя пропорции */
}

.custom-carousel-control .carousel-control-prev-icon,
.custom-carousel-control .carousel-control-next-icon {
    background-color: black; /* Устанавливает черный цвет фона */
    border-radius: 50%; /* Закругленные края */
    width: 30px; /* Настройте размер по вашему желанию */
    height: 30px;
}


