.modal-img {
    width: 800px;       /* Фиксированная ширина */
    height: 600px;      /* Фиксированная высота */
    object-fit: contain; /* Сохраняем пропорции изображения */
    margin: 0 auto;      /* Центрируем изображение */
}
.button-group {
    display: flex;
    gap: 10px; /* расстояние между кнопками */
    justify-content: flex-start; /* по умолчанию, кнопки будут выравниваться слева */
    margin-top: 15px; /* дополнительный отступ сверху, если нужно */
}

