.search-results {
    position: absolute;
    border: 1px solid #ccc;
    background: #fff;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-result-item {
    padding: 10px;
    cursor: pointer;
}

.search-result-item:hover {
    background-color: #f0f0f0;
}
.navbar-buttons {
    gap: 15px;  /* Отступы между кнопками */
}
.navbar-icon {
    width: 25px; /* Ширина и высота изображения, подстраивай под свои нужды */
    height: auto; /* Высота изображения будет автоматической */
    display: block; /* Убираем пробелы вокруг изображения */
}
.search-input {
    width: 200px; /* Ширина раскрытого поля */
    opacity: 1;
    display: block;
    z-index: 10;
}

