.card-container {
    display: flex;          /* Используем Flexbox */
    flex-wrap: wrap;        /* Карточки будут переноситься на новую строку */
    gap: 20px;              /* Отступы между карточками */
    padding: 20px;          /* Внутренние отступы для контейнера */
}

.card {
    flex: 1 1 18rem;        /* Задаём минимальный размер карточки, но она может масштабироваться */
    max-width: 18rem;       /* Ограничиваем максимальную ширину карточки */
}

.card img {
    width: 100%;            /* Картинка будет занимать всю ширину карточки */
    height: auto;           /* Высота картинки будет автоматически подстраиваться */
}

.navbar-buttons {
    gap: 15px;  /* Отступы между кнопками */
}

.navbar-icon {
    width: 20px; /* Ширина и высота изображения, подстраивай под свои нужды */
    height: auto; /* Высота изображения будет автоматической */
    display: block; /* Убираем пробелы вокруг изображения */
}

.detail-img {
    width: 40%;
    height: auto;
}
